* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Tahoma', sans-serif;
  }
  
  .navbar {
    background: rgb(46, 46, 46);
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
  }

  .navbar-container {
    display: flex;
    justify-content: left;
    height: 140px;
    z-index: 1;
    width: 100%;
    max-width: 100vw;
    margin-right: auto;
    margin-left: auto;
    padding-right: 50px;
    padding-left: 10px;
    border-bottom: 2px solid rgba(212, 212, 212,0);
  }
  
  
  
  .navbar-menu {
    display: flex;
    width: 100%;
    align-items: right;
    justify-content: right;
    list-style: none;
    text-align: right;
    padding-left: 100px;
    padding-top: 40px;
    position: sticky;
  }
  
  @media screen and (min-width: 850px) {

    #navbar-logo {
      margin: 35px;
      height: 70px;
      width: 190px;
      justify-content: left;
      align-items: center;
      border-radius: 70px;
      background-image: url("https://ipfs.io/ipfs/QmYfFBKZhmAWa1GrhTz2Te4GkzcZEoFzZBSvHnWWf8y35y");
      background-size: contain;
      background-repeat: no-repeat;
      position: absolute;
      color: #A56FF2;
    }

  .navbar-item {
    height: 0px;
    justify-content: center;
    padding-left: 10px;
    padding-top: 15px;
    align-items: center;
  }

  #wallet-container {
    height: 20px;
    justify-content: center;
    padding-left: 10px;
    align-items: center;
  }
  
  .navbar-links {
    color: #ffffff;
    display: flex;
    align-items: flex-end;
    justify-content: right;
    text-decoration: none;
    padding: 25px 15px 5px 15px;
    height: 100%;
    border-radius: 32px;
    border: 4px solid rgba(255, 255, 255,0);
  }
  
  #connect-wallet-button {
    color: #464646;
    display: flex;
    align-items: flex-end;
    justify-content: right;
    text-decoration: none;
    padding: 40px 30px 20px 20px;
    height: 100%;
    border-radius: 32px;
    border: 4px solid rgb(179, 179, 179);
    font-size:1.2rem;
  }
  
  .navbar-links:hover {
    color: #ffffff;
    border: 4px solid #ffffff;
    transition: all 0.5s ease;
  }
  #connect-wallet-button:hover {
    color: #0077ff;
    border: 4px solid #0077ff;
    transition: all 0.5s ease;
  }
  }

  @media screen and (max-width: 850px) {

    #navbar-logo {
      margin:15px;
      top: 0px;
      height: 70px;
      width: 190px;
      justify-content: center;
      align-items: center;
      border-radius: 70px;
      background-image: url("https://ipfs.io/ipfs/QmYfFBKZhmAWa1GrhTz2Te4GkzcZEoFzZBSvHnWWf8y35y");
      background-size: contain;
      background-repeat: no-repeat;
      position: absolute;
      color: #A56FF2;
    }

  .navbar-item {
    height: 10px;
    justify-content: center;
    padding-left: 0px;
    padding-top: 2px;
    align-items: center;
  }

  #wallet-container {
    height: 20px;
    justify-content: center;
    padding-left: 0px;
    padding-top: 0px;
    align-items: center;
  }
  
  .navbar-links {
    color: #ffffff;
    display: flex;
    align-items: flex-end;
    justify-content: right;
    text-decoration: none;
    padding: 25px 5px 5px 5px;
    height: 100%;
    border-radius: 32px;
    border: 4px solid rgba(255, 255, 255,0);
    font-size:2.2vw;
  }
  
  #connect-wallet-button {
    color: #464646;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    text-decoration: none;
    padding: 30px 10px 10px 10px;
    height: 100%;
    border-radius: 32px;
    border: 4px solid rgb(179, 179, 179);
    font-size:2.2vw;
  }
  
  .navbar-links:hover {
    color: #ffffff;
    border: 4px solid #ffffff;
    transition: all 0.5s ease;
  }
  #connect-wallet-button:hover {
    color: #0077ff;
    border: 4px solid #0077ff;
    transition: all 0.5s ease;
  }

  .navbar-menu {
    display: flex;
    width: 100%;
    align-items: right;
    justify-content: right;
    list-style: none;
    text-align: right;
    padding-left: 50px;
    padding-top: 50px;
    position: sticky;
  }
  }

  @media screen and (max-width: 720px) {
    .navbar-links {
      font-size:0.9rem;
    }
    #connect-wallet-button {
      font-size:0.9rem;
    }
  }

  @media screen and (max-width: 670px) {

    #navbar-logo {
      margin:15px;
      top: 0px;
      height: 72px;
      width: 72px;
      justify-content: center;
      align-items: center;
      border-radius: 70px;
      background-image: url("https://ipfs.io/ipfs/QmVnPigejto1aXhXcqATLgUWjrg8ztkRv2CjEKvzY3zmKT");
      background-size: contain;
      background-repeat: no-repeat;
      position: absolute;
      color: #A56FF2;
    }
  }

  #message-container {
    font-size: 14px;
    color: red;
    display: none;
}


  /* Services */
  .services {
    background: #464646;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    height: 1800px;
    width:100%;
  }

  .services-container {
    display: flex;
    justify-content: top;
    padding-top: 0px;
    flex-wrap: wrap;
    height: 100%;
    width:100%;
  }

  .services-visualTop {
    margin: 0px;
    height: 100%;
    width: 100%;
    border-radius: 0px;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 10vh;
    font-size: 2.4vw;
    color: #ffffff;
    background: linear-gradient(to top, rgb(22, 31, 43) 80%,rgb(44, 100, 255)100%);
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
  }

  @media screen and (min-width: 1000px) {
    h1 {
      font-size: 3rem;
    }
  }

  .search-container {
    padding-top:70px;
    width: 50%; 
    margin: 0 auto; 
    text-align: center; 
  }
  
  .search-container form {
    left:1.5vw;
    position: relative; 
  }
  
  .search-container input[type="text"] {
    width: 80%; 
    padding: 12px 20px; 
    border-radius: 32px;
    border: 2px solid rgb(255, 255, 255);
  }
  
  .search-container button[type="submit"] {
    position: relative; 
    padding-right: 40px; 
    right: 60px;
    top: 0px; 
    padding: 0vw 10px;
    background-color: transparent; 
    color: rgb(255, 255, 255); 
    border: none; 
    cursor: pointer; 
  }
  
  .search-container button[type="submit"] i {
    font-size: 18px;
    color: rgb(105, 105, 105);
  }

  .search-container button[type="submit"]:hover i {
    color: rgb(0, 255, 157);
    transition: all 0.5s ease;
  }
  .search-container button[type="submit"]:active i {
    transform: scale(0.8);
  }

  .search-container input[type="text"]::placeholder {
    color: #797979;
    font-style: italic;
  }

  .marketplace-container {
    height: 80%;
    width: 100%;
    border-radius: 0px;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 0px;
    font-size: 2.4vw;
    color: #ffffff;
    background: rgba(0,0,0,0);
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
  }

  .filter-container{
    margin-top: 8vh;
    left: 1%;
    width: 13%;
    justify-content: left;
    align-items: left;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: left;
    font-size: 1.5rem;
    background: rgb(255, 255, 255);
    border-radius: 0px;
    position: absolute;
  }

  .filter-containerText{
    width: 94%;
    left: 3%;
    justify-content: left;
    align-items: left;
    padding-left: 10px;
    text-align: left;
    font-size: 1.5rem;
    background: rgb(255, 255, 255);
    border: 0px solid rgba(255, 255, 255,0);
    color: rgb(49, 49, 49);
    border-radius: 0px;
    position: relative;
  }

  .filter-container2{
    margin-top: 3%;
    width: 94%;
    left: 3%;
    justify-content: left;
    align-items: left;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5%;
    padding-right:5%;
    text-align: left;
    font-size: 1.2rem;
    background: rgb(92, 92, 92);
    border: 2px solid rgb(255, 255, 255);
    border-radius: 8px;
    position: relative;
  }
  .filter-container3{
    display:flex;
    width: 90%;
    justify-content: left;
    align-items: left;
    text-align: left;
    margin-bottom:10px;
    font-size: 1.2rem;
    background: rgba(46, 46, 46, 0);
    border: 2px solid rgba(255, 255, 255,0);
    border-radius: 0px;
    position: relative;
  }
  .filter-container4{
    width: 100%;
    display:flex;
    justify-content: left;
    align-items: left;
    text-align: left;
    font-size: 1.2rem;
    background: rgba(46, 46, 46, 0);
    border: 2px solid rgba(255, 255, 255,0);
    border-radius: 0px;
    position: relative;
  }
  .filter-container5{
    justify-content: left;
    align-items: left;
    text-align: left;
    font-size: 1.2rem;
    background: rgba(46, 46, 46, 0);
    position: relative;
  }
  .filter-button{
    margin-bottom:5px;
    justify-content: left;
    align-items: left;
    width: 90%;
    padding: 3px;
    text-align: center;
    margin-left:10%;
    font-size: 0.9rem;
    border-radius: 0px;
    background: rgb(99, 99, 99);
    border: 1px solid rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    position: relative;
  }
  .filter-button:hover {
    background: rgb(124, 124, 124);
    border: 1px solid rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    transition: all 0.5s ease;
  }
  .filter-button.selected {
    background: rgb(255, 255, 255);
    border: 1px solid rgb(255, 255, 255);
    color: rgb(46, 46, 46);
  }
  .apply-button{
    margin-left:50%;
    margin-top:10px;
    margin-bottom:5px;
    justify-content: left;
    align-items: left;
    width: 40%;
    padding: 3px;
    text-align: center;
    font-size: 0.9rem;
    border-radius: 16px;
    background: rgb(92, 92, 92);
    border: 1px solid rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    position: relative;
  }
  .apply-button:hover {
    background: rgb(255, 255, 255);
    border: 1px solid rgb(92, 92, 92);
    color: rgb(68, 68, 68);
    transition: all 0.5s ease;
  }

  .profile-container{
    margin-top: 8vh;
    right: 1%;
    padding: 20px;
    width: 13%;
    justify-content: center;
    align-items: center;
    background: rgb(255, 255, 255);
    border-radius: 0px;
    position: absolute;
  }
  .profile-container2{
    top: 20px;
    width: 100%;
    padding-bottom: 20px;
    justify-content: bottom;
    background: rgba(138, 62, 62,0);
    border-radius: 8px;
    position: relative;
  }
  .profile-containerImage{
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(138, 62, 62,0);
    position: relative;
  }

  .profile-image {
    width: 120px;
    height: 120px;
    top:20px;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    border: 0px solid rgb(179, 179, 179);
    background: rgb(179, 179, 179);
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    color: #A56FF2;
  }
  
  .profile-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 100px;
  }

  .profile-button{
    margin-top:5px;
    width: 80%;
    left: 10%;
    justify-content: left;
    align-items: left;
    padding: 5px;
    text-align: center;
    font-size: 1.2rem;
    color: rgb(43, 43, 43);
    background: rgb(255, 255, 255);
    border: 2px solid rgb(190, 190, 190);
    border-radius: 8px;
    position: relative;
  }

  .profile-id-display{
    width: 94%;
    left: 3%;
    justify-content: left;
    align-items: left;
    padding: 5px;
    text-align: center;
    font-size: 1rem;
    color: rgb(37, 37, 37);
    background: rgb(255, 255, 255);
    border-radius: 0px;
    position: relative;
  }

  .profile-button:hover{
    color: rgb(255, 255, 255);
    background: rgb(87, 87, 87);
    border: 2px solid rgb(87, 87, 87);
    transition: all 0.5s ease;
  }

.grid-container {
  padding: 20px 20px 20px 20px;
  display: flex; 
  flex-wrap: wrap; 
  flex-direction: row;
  justify-content: left;
  margin: 0 auto;
  top:8vh;
  width: 70%;
  max-width: 1800px;
  color: rgba(0,0,0,0);
  background: rgba(255, 255, 255, 1);
  border-radius: 0px;
  position: relative;
}

.listing-container {
  margin: 0 auto;
  margin-top: 5px;
  height: 300px;
  width: 24.5%;
  justify-content: center;
  align-items: center;
  background: rgb(255, 255, 255);
  border: 1px solid rgb(255, 255, 255);
  border-radius: 2px;
  position: relative;
}


@media screen and (max-width: 1600px) {
  .listing-container {
  width: 32.5%;
  }
}

@media screen and (max-width: 1300px) {
  .listing-container {
  width: 49%;
  }
  .grid-container {
    width: 60%;
  }
  .filter-container{
    width: 17.5%;
  }
  .profile-container{
    width: 17.5%;
  }
}

@media screen and (max-width: 1000px) {
  .listing-container {
  width: 100%;
  }
  .grid-container {
    width: 50%;
  }
  .filter-container{
    width: 22.5%;
  }
  .profile-container{
    width: 22.5%;
  }
}

.listing-links {
  color: #ffffff;
  height: 100%;
  width: 100%;
  border-radius: 0px;
  background: rgba(255, 255, 255,0);
  justify-content: bottom;
  top:0;
  left:0;
  position: absolute;
}

.listing-links2 {
  color: #000000;
  display:flex;
  flex-direction: column;
  height: 30%;
  width: 100%;
  border-radius: 0px;
  border: 0px solid rgb(46, 46, 46);
  background: rgba(255, 255, 255, 0.7);
  justify-content: bottom;
  bottom:0;
  left:0;
  font-size: 1.2rem;
  text-align: left;
  padding-left: 10px;
  padding-top: 5px;
  position: absolute;
}

.listing-links:hover {
  top:-4;
  background: linear-gradient(to bottom , rgba(0,0,0,0) 0%, rgba(255, 255, 255, 0.5) 100%);
  transition: all 0.5s ease;
}
.listing-price-container{
  margin-top:5px;
  padding: 3px;
  padding-left: 6px;
  padding-right: 6px;
  max-width: 50%;
  display: inline-block;
  justify-content: left;
  text-align: center;
  font-size: 1.2rem;
  border-radius: 8px;
  background: rgb(255, 255, 255);
  border: 2px solid rgb(190, 190, 190);
  color: rgb(61, 61, 61);
  position: relative;
}
.listing-links:hover > .listing-links2 {
  color: #464646;
transition: all 0.5s ease;
}
.listing-links:hover > .listing-container {
  margin-top: 0px;
  top: 0px;
  border: 1px solid rgb(161, 161, 161);
transition: all 0.5s ease;
}
.listing-links:hover .listing-price-container {
  background: rgb(33, 129, 255);
  border: 2px solid rgb(33, 129, 255);
  color: rgb(255, 255, 255);
transition: all 0.5s ease;
}



.itemPage {
  position: absolute;
  top:100px;
  width: 100vw;
  height: 2000px;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to top, rgba(23, 0, 32,1) 0%, rgba(0, 4, 43, 1) 100%);

}

.item-details {
  margin: 0 auto;
  top:30px;
  height: 90%;
  width: 80%;
  max-width:1200px;
  justify-content: center;
  align-items: center;
  background: rgb(255, 255, 255);
  border-radius: 0px;
  position: relative;
}

.item-details2 {
  margin: 0 auto;
  top: 50px;
  height: 20%;
  width: 80%;
  justify-content: center;
  align-items: center;
  background: rgb(255, 255, 255);
  border-radius: 0px;
  position: relative;
}

.item-overview {
  height: 100%;
  width: 78%;
  margin-left: 0%;
  font-size:1.5rem;
  background: rgb(255, 255, 255);
  border-radius: 16px;
  border: 1px solid rgb(255, 255, 255);
  padding: 20px 20px 20px 20px;
}
.item-overview2 {
  height: 100%;
  width: 69%;
  margin-top:0%;
  margin-left:300px;
  border-radius: 0px;
  border: 0px solid rgb(179, 179, 179);
  padding: 10px 20px 20px 20px;
  position:relative;
}
.item-overview3 {
  height: 45%;
  width: 95%;
  margin-left:2.5%;
  margin-top:4%;
  border-radius: 0px;
  font-size:1rem;
  border-top: 2px solid rgb(179, 179, 179);
  padding: 10px 20px 20px 20px;
  position:relative;
}

.item-order {
  width: 20%;
  height: 15%;
  right: 10%;
  bottom:130px;
  border-radius: 0px;
  border: 1px solid rgb(216, 216, 216);
  background: rgb(255, 255, 255);
  position:absolute;
}
.item-order2 {
  width: 90%;
  height: 70%;
  margin: 5%;
  border-radius: 0px;
  border-bottom: 2px solid rgb(179, 179, 179);
  background: rgb(255, 255, 255);
  padding: 10px 20px 20px 20px;
  font-size: 1.2rem;
  position:absolute;
}

.item-buy {
  color: #464646;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  padding: 20px 20px 20px 20px;
  height: 10%;
  width: 90%;
  margin-left: 5%;
  top: 80%;
  background: #0077ff;
  border-radius: 32px;
  border: 2px solid rgb(255, 255, 255);
  color: rgb(255, 255, 255);
  font-size: 1.2rem;
  position:absolute;
}
.item-buy:hover {
  color: #0077ff;
  border: 2px solid #0077ff;
  background: #ffffff;
  transition: all 0.5s ease;
}

.item-image {
  height: 300px;
  width: 300px;
  justify-content: center;
  align-items: center;
  border-radius: 0px;
  background: rgb(119, 119, 119);
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  color: #A56FF2;
}

.item-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0px;
}

.item-image2 {
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  border: 0px solid rgb(179, 179, 179);
  background: rgb(179, 179, 179);
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  top:0%;
  left:0%;
  color: #A56FF2;
}

.item-image2 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 4px;
  position: absolute;
  top:0%;
  left:0%;
}


.close {
  color: #464646;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  padding: 10px 20px 20px 20px;
  height: 10px;
  width: 10px;
  right: 10px;
  top: 5px;
  background: rgba(255, 255, 255,0);
  border-radius: 4px;
  border: 2px solid rgb(185, 185, 185);
  color: rgb(116, 116, 116);
  font-size: 2rem;
  position:absolute;
}
.close:hover {
  color: #ffffff;
  border: 2px solid rgb(36, 36, 36);
  background: rgb(255, 105, 143);
  transition: all 0.5s ease;
}

.item-text-box {
  color: #464646;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  padding: 15px 10px 15px 10px;
  height: 10%;
  width: 70%;
  margin-left:20%;
  background: #ffffff;
  border-radius: 0px;
  border: 1px solid rgb(56, 56, 56);
  color: rgb(56, 56, 56);
  font-size: 1.2rem;
  position:absolute;
}
.item-text-box:hover {
  color: #000000;
  border: 1px solid #000000;
  background: #ffffff;
  transition: all 0.5s ease;
}

.item-text-box2 {
  color: #464646;
  display: flex;
  align-items: center;
  justify-content: left;
  text-decoration: none;
  padding: 10px 10px 10px 10px;
  height: 16%;
  width: 100%;
  background: #ffffff;
  border-radius: 0px;
  border: 0px solid rgb(56, 56, 56);
  color: rgb(56, 56, 56);
  font-size: 1.2rem;
  position:relative;
}

.category {
  color: #464646;
  display: flex;
  align-items: center;
  justify-content: left;
  text-decoration: none;
  padding: 15px 0px 15px 0px;
  height: 10%;
  width: 70%;
  margin-left:20%;
  font-size: 1.2rem;
  position:absolute;
}

.category button {
  color: #464646;
  display: flex;
  align-items: center;
  justify-content: left;
  text-decoration: none;
  padding: 15px 10px 15px 10px;
  height: 10%;
  width: 50%;
  background: #ffffff;
  border-radius: 0px;
  border: 1px solid rgb(56, 56, 56);
  color: rgb(56, 56, 56);
  font-size: 1.2rem;
  position:absolute;
  cursor: pointer;
}

.category button:hover {
  background-color: #ffffff;
  border: 1px solid rgb(0, 0, 0);
}

.category button:focus {
  outline: none;
}

.category-content {
  display: show;
  z-index: 1;
  min-width: 160px;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background-color: #fff;
  position: absolute;
}

.category-content a {
  display: block;
  padding: 5px 10px;
  text-decoration: none;
  color: #000;
  font-size: 14px;
}

.category-content a:hover {
  background-color: #f1f1f1;
}

.item-text-box-price {
  color: #464646;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  padding: 15px 10px 15px 10px;
  height: 10%;
  width: 35%;
  margin-left:20%;
  background: #ffffff;
  border-radius: 0px;
  border: 1px solid rgb(56, 56, 56);
  color: rgb(56, 56, 56);
  font-size: 1.2rem;
  position:absolute;
}
.item-text-box-price:hover {
  color: #000000;
  border: 1px solid #000000;
  background: #ffffff;
  transition: all 0.5s ease;
}

.item-text-box-price2 {
  color: #464646;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  padding: 15px 10px 15px 10px;
  height: 10%;
  width: 60%;
  margin-left:90px;
  margin-right:20px;
  background: #ffffff;
  border-radius: 16px;
  border: 1px solid rgb(56, 56, 56);
  color: rgb(56, 56, 56);
  font-size: 1.2rem;
  position:absolute;
}
.item-text-box-price:hover {
  color: #000000;
  border: 1px solid #000000;
  background: #ffffff;
  transition: all 0.5s ease;
}

.item-text-box-tags {
  color: #464646;
  display: center;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  padding: 10px 10px 10px 10px;
  min-height: 40%;
  width: 80%;
  margin-top: 3%;
  background: #ffffff;
  border-radius: 0px;
  border: 1px solid rgb(216, 216, 216);
  color: rgb(56, 56, 56);
  font-size: 1.2rem;
  resize: none;
  position:absolute;
}

.item-text-box2-tags {
  color: #464646;
  display: flex;
  align-items: top;
  justify-content: left;
  text-decoration: none;
  height: 100%;
  margin-top: 1%;
  width: 100%;
  padding-left:10%;
  background: #ffffff;
  border-radius: 0px;
  border: 0px solid rgb(56, 56, 56);
  color: rgb(56, 56, 56);
  font-size: 1.2rem;
  position:relative;
}

.item-text-box-info {
  color: #464646;
  display: center;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  padding: 10px 10px 10px 10px;
  min-height: 80%;
  width: 80%;
  margin-top: 3%;
  background: rgba(0,0,0,0);
  border-radius: 0px;
  border: 1px solid rgb(216, 216, 216);
  color: rgb(56, 56, 56);
  font-size: 1.2rem;
  resize: none;
  position:absolute;
}

.item-text-box2-info {
  color: #464646;
  display: flex;
  align-items: top;
  justify-content: left;
  text-decoration: none;
  height: 100%;
  margin-top: 1%;
  width: 100%;
  padding-left:10%;
  background: rgba(0,0,0,0);
  border-radius: 0px;
  border: 0px solid rgb(56, 56, 56);
  color: rgb(56, 56, 56);
  font-size: 1.2rem;
  position:relative;
}

.item-text-box2-files {
  color: #464646;
  display: flex;
  align-items: center;
  justify-content: left;
  text-decoration: none;
  padding: 10px 10px 10px 10px;
  height: 16%;
  width: 100%;
  background: rgba(0,0,0,0);
  border-radius: 0px;
  border: 0px solid rgb(56, 56, 56);
  color: rgb(56, 56, 56);
  font-size: 1.2rem;
  position:relative;
}
.item-text-box-files {
  color: #464646;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  height: 22%;
  width: 100%;
  background: rgba(0,0,0,0);
  border-radius: 0px;
  border: 0px solid rgb(56, 56, 56);
  color: rgb(56, 56, 56);
  font-size: 1.2rem;
  position:relative;
}